@font-face {
  font-family: 'Noway';
  font-style: normal;
  font-weight: 400;
  src: url('./../../static/fonts/noway-regular-webfont.woff2') format('woff2'),
    url('./../../static/fonts/noway-regular-webfont.woff') format('woff');
}
