@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('./../../static/fonts/nunitosans-light-webfont.woff2')
      format('woff2'),
    url('./../../static/fonts/nunitosans-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 300;
  src: url('./../../static/fonts/nunitosans-lightitalic-webfont.woff2')
      format('woff2'),
    url('./../../static/fonts/nunitosans-lightitalic-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('./../../static/fonts/nunitosans-regular-webfont.woff2')
      format('woff2'),
    url('./../../static/fonts/nunitosans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: url('./../../static/fonts/nunitosans-italic-webfont.woff2')
      format('woff2'),
    url('./../../static/fonts/nunitosans-italic-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: url('./../../static/fonts/nunitosans-semibold-webfont.woff2')
      format('woff2'),
    url('./../../static/fonts/nunitosans-semibold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 600;
  src: url('./../../static/fonts/nunitosans-semibolditalic-webfont.woff2')
      format('woff2'),
    url('./../../static/fonts/nunitosans-semibolditalic-webfont.woff')
      format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('./../../static/fonts/nunitosans-bold-webfont.woff2') format('woff2'),
    url('./../../static/fonts/nunitosans-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 700;
  src: url('./../../static/fonts/nunitosans-bolditalic-webfont.woff2')
      format('woff2'),
    url('./../../static/fonts/nunitosans-bolditalic-webfont.woff')
      format('woff');
}

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
